services:
  web:
    build: https://github.com/Hanni007112/ServerWake_public.git
    volumes:
      - .yourVolumePathHere:/usr/src/app/DATA
    command: >
      sh -c "python manage.py makemigrations main &&
            python manage.py migrate &&
            python manage.py runserver 0.0.0.0:8000"
    ports:
      - "8000:8000"