{% load static %}
<link rel="stylesheet" href="{% static '/css/header.css'%}">
{% include 'main/css/header_media.css' %}
<header>
    <nav>
        <div id="header-icon-wrap">
            <i class="fa-solid fa-database"></i>
            <i class="fa-solid fa-server"></i>
        </div>
        <div class="flex-center-vertically" id="logout-wrap">
            
            {% if user.is_authenticated %}
            <span> Hello, {{request.user}} </span>
            <span><a href="{% url 'logout' %}">Logout</a></span>
            {% else %}
            <span> Hello, please </span>
            <span><a href="{% url 'login' %}">Login</a></span>
            {% endif%}
        </div>
    </nav>
    
    
</header>