#messages-wrap{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#messages{
    background-color: var(--darkAccent_color);
    color: inherit;
    padding: 0.4em;
    text-align: center;
    margin: auto;
    margin: 0.4em;
    border-radius: 5px;
}

h1{
    margin-top: 1em;
    text-align: center;
}
h2, h3{
    text-align: center;
}

.section-wrap {
    margin: 0.5em auto;
    width: 80%;
    min-width: 15em;
    background-color: var(--lightAccent_color);
    padding: 0.3rem;
    padding-bottom: 1em;
    box-shadow: 0 4px 8px 0 rgba(0,0,0, 0.5),
                0 6px 20px 0 rgba(0,0,0,0.49);
    border-radius: 5px;
}

.shutdownDateTime{
    text-align: center;
    margin-bottom: 0px;
}

.section-wrap table{
    margin: auto;
}

#submitButton-wrap{
    text-align: center;
}
#submitButton-wrap input{
    background-color: var(--darkAccent_color);
    border: none;
    color: inherit;
    padding: 0.2em;
    border-radius: 5px;
}


.dot{
    display: inline-block;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    vertical-align: middle;
}

.aButton-wrap {
    background-color: var(--darkAccent_color);
    border: none;
    color: inherit;
    padding: 0.6em 0.8em; 
    font-weight: 500; 
    border-radius: 5px;
    text-align: center;
}

.aButton-wrap a{
    text-decoration: none;
    color: inherit;
}

.directServer-controll{
    max-width: 50%;
    margin: 0.5em auto;
    box-shadow: 0 4px 8px 0 rgba(0,0,0, 0.3),
                0 6px 20px 0 rgba(0,0,0,0.3);
}

.directServer-controll-wrap{
    align-content: center;
}

.allocation-wrap{
    text-align: center;
}

.allocationDateTime{
    background-color: var(--darkAccent_color);
    border-radius: 0.2em;
    padding: 0px 0.2em;
    white-space: nowrap;
}

.changeAllocationSpan{
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    width: 3em;
}

.changeAllocationButton{
    font-size: 0.87em;
}

.activateButton{background: linear-gradient( var(--lightShades_color) 25%, green 25%, green 75%, var(--lightShades_color) 75%);}
.activateButton:hover{color: limegreen; background: linear-gradient( limegreen 25%, green 25%, green 75%, limegreen 75%);}
.deactivateButton{background: linear-gradient( var(--lightShades_color) 25%, red 25%, red 75%, var(--lightShades_color) 75%);}
.deactivateButton:hover{color: rgb(255, 91, 91); background: linear-gradient( rgb(255, 91, 91) 25%, red 25%, red 75%, rgb(255, 91, 91) 75%);}

.changeAllocationButton i{vertical-align: sub;}