html,
body {
  margin: 0;
  padding: 0;
  min-height: 100%;
}

#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 42px;    
}

footer{
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 42px;
  position : absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--darkAccent_color);
  color : var(--lightShades_color);
}
.footer-column{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer-column > p, .footer-column > table{
  font-weight: normal;
  font-size: 13px;
}
.footer-column a{
  text-decoration: none;
  font-size: 13px;
  color: inherit;
}