header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: rgba(0, 0, 0, 0.4);
    font-size: 1rem;
}
#header-icon-wrap{
    font-size: 3em;
    color: var(--lightAccent_color);
}

header nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100vw;
}


#logout-wrap span:nth-child(1){
    margin-right: 0.3em;
    white-space: nowrap;
}

#logout-wrap a {
    color: inherit;
    text-decoration: none;
    background-color: var(--darkAccent_color);
    padding: 0.2em 0.2em;
    border-radius: 5px;
}

